@import '../../../assets/styles/variables';

header {

	.flex-menus {
		margin-top: 14px;
	}

	.desktop-menus {
		padding: 25px 50px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #eff5fa;

		a {
			font-size: 16px;
			margin-right: 18px;

			&:hover {
				text-decoration: none !important;
			}
		}

		.mat-icon {
			vertical-align: middle;
		}
	}

	.primary-menu {
		margin-left: 18px;
		float: left;
	}
}

.topsticky {
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08) !important;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	z-index: 10;
	background: #ffffff;

	.logo {
		img {
			opacity: 1;
			max-width: 130px;
			width: 100%;
		}
	}
}


@media (min-width: 992px) {
	.topsticky {
		background: #ffffff;
	}

	header {
		height: 75px;

		.logo {
			float: left;
			margin-right: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.user-image {
		margin-left: 10px;
	}

	.primary-menu,
	.topsticky .primary-menu {
		float: left;
	}
}

@media (max-width: 991px) {

	.mobile-header,
	header {
		height: 65px;
		overflow-x: hidden;
		overflow-y: hidden;
	}

	mat-sidenav-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #eff5fa !important;
	}

	mat-drawer-container {
		overflow: visible;
	}

	::ng-deep .mat-drawer-inner-container {
		min-height: 500px !important;
		position: relative !important;
	}

	mat-sidenav {
		width: 100%;
		position: fixed;
		z-index: 1000;
		background: #eff5fa !important;

		.close-btn {
			color: #444444 !important;
		}
	}

	.menu-button {
		margin-right: 10px;
	}

	.nav-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: 0 0;
		overflow: visible;
		height: 60px;
		z-index: 10;
		box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);

		.logo {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	.mat-icon-button {
		float: right;
		margin-right: 5px;
		margin-top: 9px;
		line-height: 28px;

		.mat-icon.material-icons {
			display: flex;
			align-items: center;
			text-align: center;
			margin: 0 auto;
			justify-content: center;
		}
	}

	.main-menus {
		font-size: 17px;
		font-weight: 600;
		color: #444;
		line-height: 30px;
		display: block;
		padding: 8px 18px;
	}

	.logo {
		margin: 10px 15px;
	}

	.logo-inside {
		img {
			width: 70px;
			margin: 5px 15px;
		}
	}
}

.menu-item,

.mat-menu-item:hover {
	color: var(--primary-color);
}

hr.custom-hr {
	height: 1px;
	border: none;
	background-color: #d8d8d8;
}