body {
  margin: 0;
  padding: 0;
  // font-family: $font-family;
}

@mixin flex($ai:normal, $jc:normal, $fd:row) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
  flex-direction: $fd;
}

@mixin positions($pos, $t:auto, $r:auto, $b:auto, $l:auto) {
  position: $pos;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
  z-index: 10;
}
/**
@params: font-size, font-weight, line-height
*/
@mixin text-style($fs:normal, $fw:normal, $lh:normal) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin margin-prop($mt:auto, $mr:auto, $mb: auto, $ml:auto) {
  margin-top: $mt;
  margin-right: $mr;
  margin-bottom: $mb;
  margin-left: $ml;
}

.h-separator {
  height: 1px;
  margin: 10px auto;
}
.v-separator {
  height: 100%;
  margin: auto 25px;
}

//Section title for all components
.section-title{
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .padding-m-0 {
    padding: 0px;
  }
}
// Social icons

.icon-linkedin::before {
  color: #0077B5;
}
.icon-thumbsup:before {
  color: #325090;
}

@mixin padding-prop($pt:0, $pr:0, $pb: 0, $pl:0) {
  padding: $pt $pr $pb $pl;
}
